@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --brand: 217 91% 60%;
  --brand-foreground: 213 47% 14%;
  --radius: 0.65rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 221 39% 11%;
    --foreground: 213 31% 91%;
    --muted: 220 14% 19%;
    --muted-foreground: 214 17% 65%;
    --accent: 217 25% 22%;
    --accent-foreground: 210 40% 98%;
    --border: 215 25% 22%;
    --input: 215 25% 22%;
    --ring: 213 27% 84%;
    --brand: 199 89% 48%;
    --brand-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
