# Byte-compiled / optimized files
__pycache__
*.py[cod]
*.so

# Packaging artifacts
*.egg-info

# Version control
.git

# Virtual environments
.venv

# Node dependencies
**/node_modules

# Env / secrets
.env

# End of file
