-c ../../constraints.txt
uvicorn
pydantic-settings
fastapi
sqlalchemy
alembic
psycopg[binary]
httpx
asyncpg
boto3
Jinja2
celery
structlog
asgi-correlation-id
fastapi-limiter
authlib
python-multipart
redis
sentry-sdk[celery,fastapi,sqlalchemy]
imapclient
prometheus-client
pandas
